.job-card-job-card {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  padding: 36px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2A628F;
  color: #F4E9CD;
}
 
.job-card-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 24px;
}

.job-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

/*  ==================================================
    Floating Animation
    ================================================== */

@keyframes floating {
  0%, 100% { transform: translateY(-5%); }
  50% { transform: translateY(0); }
}

@media (prefers-reduced-motion: no-preference) {
  .job-card-logo {
    animation: floating 5s -1s infinite;
  }
}
